<mat-accordion class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments
      </mat-panel-title>
      <mat-panel-description>
        Information
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card class="pa-1">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="comment">
          <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.comment}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="by">
          <mat-header-cell *matHeaderCellDef fxFlex="300px"> By </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="350px"> {{row.submittedBy.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef fxFlex="200px"> Date </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="150px"> {{row.date}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
    <div fxLayout="column" class="comment pa-1">
    <div fxLayout="row">
      <mat-form-field>
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </div>
    </div>
    <button mat-button color="primary"><mat-icon>check</mat-icon>&nbsp;Submit</button>
  </mat-expansion-panel>
</mat-accordion>
