<div>
  <mat-card-subtitle>
    <span fxFlex="auto" fxFlexFill></span>
    <span style="white-space: nowrap;">MAIN&nbsp;INFORMATION</span>
    <span fxFlex="auto" fxFlexFill></span>
  </mat-card-subtitle>
  <form class="ma-1" [formGroup]="form" fxLayoutGap="5px">
    <table style="width: 100%;">
      <tr fxLayout.xs="column">
        <td colspan="2">
          <mat-form-field appearance="outline" [formGroup]="form">
            <mat-label>FIRST NAME</mat-label>
            <label>
              <input
                matInput
                formControlName="firstName"
                placeholder="FIRST NAME"
                readonly="true"
              />
            </label>
          </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field appearance="outline" [formGroup]="form">
            <mat-label>MIDDLE NAME</mat-label>
            <label>
              <input
                matInput
                formControlName="middleName"
                placeholder="MIDDLE NAME"
                readonly="true"
              />
            </label>
          </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field appearance="outline" [formGroup]="form">
            <mat-label>LAST NAME</mat-label>
            <label>
              <input
                matInput
                formControlName="lastName"
                placeholder="LAST NAME"
                readonly="true"
              />
            </label>
          </mat-form-field>
        </td>
      </tr>
      <tr fxLayout.xs="column">
        <td colspan="6">
          <mat-form-field
            appearance="outline"
            [ngClass]="{ 'readonly-wrapper': true }"
            [formGroup]="form"
          >
            <mat-label>GENDER</mat-label>
            <mat-select formControlName="gender" placeholder="MALE/FEMALE">
              <mat-option
                *ngFor="let gender of genders"
                [value]="gender.value"
              >
                {{ gender.viewValue | uppercase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr fxLayout.xs="column">
        <td colspan="6">
          <mat-form-field
            appearance="outline"
            [ngClass]="{ 'readonly-wrapper': !auth.edit && auth.role !== roles.HUMAN_RESOURCES.value}"
            [formGroup]="form"
          >
            <mat-label>STATUS</mat-label>
            <mat-select formControlName="status" placeholder="Status">
              <mat-option *ngFor="let item of status" [value]="item.value">
                {{ item.viewValue | uppercase }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr fxLayout.xs="column">
        <td colspan="2">
          <mat-form-field appearance="outline" >
            <mat-label>POSITION</mat-label>
            <label>
              <input
                matInput
                [value]="this.currentEmployee?.position[0]?.name"
                placeholder="POSITION"
                readonly="true"
              />
            </label>
          </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field appearance="outline">
            <mat-label>POSITION ID</mat-label>
            <input
              matInput
              [value]="this.currentEmployee?.position[0]?.positionId"
              placeholder="POSITION ID"
              readonly="true"
            />
          </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field appearance="outline" >
            <mat-label>SINCE</mat-label>
            <input
              [value]="this.currentEmployee?.position[0]?.startDate | date:'MM/dd/yyyy'"
              matInput
              placeholder="SINCE"
              readonly="true"
            />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <mat-form-field appearance="outline" [formGroup]="form">
            <mat-label>SSN</mat-label>
            <input
              matInput
              placeholder=""
              [value]="this.currentEmployee.socialSecurity"
              readonly="true"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="6">
            <mat-form-field
              appearance="outline"
              [ngClass]="{ 'readonly-wrapper': !auth.edit }"
              [formGroup]="form"
            >
              <mat-label>RESTRICTION</mat-label>
              <mat-select formControlName="restriction" placeholder="restriction">
                <mat-option *ngFor="let item of restrictions" [value]="item.value">
                  {{ item.viewValue | uppercase }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <button
    mat-stroked-button
    color="primary"
    (click)="onSubmit()"
    *ngIf="auth.edit"
  >
    <mat-icon>save</mat-icon>
    <span>SAVE</span>
  </button>
</div>
