mat-form-field{
    min-width: 90px;
    max-width: 600px;
}
.container{
    margin: 5px;
}

.form{
    margin: 10px;
}

.readonly-wrapper {
  pointer-events: none !important;
  cursor: not-allowed !important;
}
