<mat-accordion class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Payroll
      </mat-panel-title>
      <mat-panel-description>
        Information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form class="form"
          [formGroup]="payrollForm"
          id="payrollForm">

      <mat-form-field>
          <input matInput formControlName="TIN"
          placeholder="Tax Identification Number"
          [disabled]="!isAuth">
      </mat-form-field>

      <mat-form-field>
          <input matInput formControlName="positionId"
          placeholder="Position ID"
          [disabled]="!isAuth">
      </mat-form-field>

      <mat-form-field>
          <mat-select placeholder="Payroll Type" formControlName="payrollType">
            <mat-option *ngFor="let payrollType of payrollTypes" [value]="payrollType.value">
                {{payrollType.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-select placeholder="Bank Name" formControlName="bankName">
            <mat-option value="scotiabank">
                Scotiabank
            </mat-option>
            <mat-option value="atlanticbank">
                Atlantic Bank
            </mat-option>
            <mat-option value="belizebank">
                Belize Bank
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <input matInput formControlName="bankAccount"
          placeholder="Bank Account No."
          [disabled]="!isAuth">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Billable" formControlName="billable">
          <mat-option [value]=true>
             Yes
          </mat-option>
          <mat-option [value]=false>
              No
           </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  <button mat-button color="primary" class="button" (click)="onSubmit()"> <mat-icon>save</mat-icon> &nbsp; Save</button>
  </mat-expansion-panel>
</mat-accordion>
