.example-container {
  display: block;
  width: 100% !important;
}

.mat-table {
  overflow: hidden;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

@import "./src/assets/styles/scss/material.variables";

$mat-toolbar-height-desktop: 230px !default;
$mat-toolbar-height-mobile-portrait: 222px !default;
$mat-toolbar-height-mobile-landscape: 214px !default;

.mat-card-top {
  margin-top: -($mat-toolbar-height-desktop);
}

@media ($mat-xsmall) and (orientation: portrait) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-portrait);
  }
}

@media ($mat-small) and (orientation: landscape) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-landscape);
  }
}

.header {
  width: 100% !important;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.mat-column-action {
  flex: 0 0 15px;
}
.container {
  width: 95%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  padding-left: 10px;
  padding-right: 10px;
  height: 48px !important;
}
span {
  margin: 10px;
}
