<mat-list>
    <mat-list-item>
        <strong>Certification Date:</strong> &nbsp; {{ trackerInfo.certifyTraining.certificationDate |  amDateFormat: 'MM/DD/YYYY' }}
    </mat-list-item>
    <mat-list-item>
        <strong>Client:</strong> &nbsp; {{ trackerInfo.certifyTraining.client }}
    </mat-list-item>
    <mat-list-item class="reason-wrapper">
        <div fxLayout="column">
            <strong>Reason: </strong>
            <p class="reason">
                {{ trackerInfo.certifyTraining.reason }}
            </p>  
        </div>              
    </mat-list-item>    
    <mat-list-item>
        <button mat-flat-button color="primary" (click)="openSignatureRenderModal('Manager Signature',trackerInfo.certifyTraining.managerSignature)">Show Manager Signature</button>
    </mat-list-item>
</mat-list>