.form{
    margin: 10px;
    max-height: 250px;
    display: flex;
    flex: 0 0 50%;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: stretch;
}

mat-card {
  margin: 15px;
  margin-bottom: 20px;
}

mat-form-field {
  margin: 10px;
}
mat-card-footer {
  padding: 10px;
}
