<mat-toolbar class="header"  color="primary">
  <mat-toolbar-row>
      <span>Employee Management</span>
      <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>

<div class="mat-card-top">
    <mat-card class=" pa-1 container2">
        <h4>(Search - Edit - Delete)  Employee's critical information</h4>


            <mat-form-field>
              <input matInput [formControl]="employeeCtrl" #employee [matAutocomplete]="auto" placeholder="Employee">
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let employee of filteredEmployees | async"
              [value]="employee.firstName + ' ' + employee.lastName" (click)="setEmployee(employee)">
                {{employee.firstName+ ' ' + employee.middleName + ' ' + employee.lastName}}
              </mat-option>
            </mat-autocomplete>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">

        <mat-form-field>
          <input matInput placeholder="Employee ID" [(ngModel)]="this.selectedEmployee.employeeId">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="First Name" [(ngModel)]="this.selectedEmployee.firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Middle Name" [(ngModel)]="this.selectedEmployee.middleName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" [(ngModel)]="this.selectedEmployee.lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Gender" [(ngModel)]="this.selectedEmployee.gender">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Social Security" [(ngModel)]="this.selectedEmployee.socialSecurity">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx" *ngIf="employee.value !== ''">
          <button mat-button color="primary" (click)="onUpdateEmployee()"><mat-icon>save</mat-icon> Update Record</button>
          <div class="fill-remaining-space">
          </div>
          <button mat-button color="warn" (click)="onDeleteEmployee()"><mat-icon>delete</mat-icon> Delete Employee Registry</button>
      </div>

      </mat-card>
  <div class="container">
  <app-workpattern ></app-workpattern>
  <div style="margin-top: 20px; margin-bottom: 20px">
  <app-position></app-position>
</div>
  <app-client></app-client>
</div>
</div>


