<!-- <p>concepts works!
    concepts must also display all time off requests and their proof to be able to validate the time off request and input a other payment record inside of the concepts db

    Submitting concepts like bonuses, deductions, other payments;
    allowing any OTHER accounting team personel to approve a concept;
    if is verified it will display as verified and be able to include in future scheduled payroll;


    TODO: Make a not athorized component that loads on ngif authorization is not passed for the selected view.

    time off request table

    table one - concepts for the selected employee
    table two - all submitted but not verified concepts
    table three - all submitted and verified concepts

</p> -->

<mat-toolbar class="header"  color="primary">
    <mat-toolbar-row>
        <span>Payroll Concepts</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar-row>
    <mat-toolbar-row >
    </mat-toolbar-row>
    <mat-toolbar-row >
      </mat-toolbar-row>
  </mat-toolbar>
  <div class="mat-card-top">
    <!-- <app-time-off-requests></app-time-off-requests> -->
    <app-new-concept></app-new-concept>
    <app-concept-verification></app-concept-verification>
  </div>
