
<mat-card style="background-color: rgba(0,0,0,0.1);" *ngIf="data && !error">
  <mat-card-header>
    <mat-card-title>{{this.data.employeeName}}</mat-card-title>
    <mat-card-subtitle> Payroll Information</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>GO TO EMPLOYEE PROFILE</button>
  </mat-card-actions>

<payroll-concept conceptTitle="Other Payment" [concepts]="data.otherpay" [employeeConcept]="data" *ngIf="data && !error"></payroll-concept>
<payroll-concept conceptTitle="Bonus" [concepts]="data.bonus" [employeeConcept]="data" *ngIf="data && !error"></payroll-concept>
<payroll-concept conceptTitle="Deductions" [concepts]="data.deductions" [employeeConcept]="data" *ngIf="data && !error"></payroll-concept>
</mat-card>
