    <div>
      <mat-toolbar>
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <mat-card-subtitle>PAYED PAYROLLS STATS</mat-card-subtitle>
            <div *ngIf="statsRows && doughnutChartData">
              <button mat-flat-button color='primary' (click)="export()">EXPORT</button>
            </div>
          </div>
          </mat-toolbar-row>
    </mat-toolbar>
            <!-- <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                    <div fxFlex="65%"></div>
                        TODO: FIX THE PAYSLIP FEATURE
                        <button mat-flat-button color='primary' (click)="sendPayslips('')">
                            SEND PAYSLIPS
                          </button>
                          <button mat-flat-button color='accent' (click)="export()" [disabled]='checkedRows?.selected?.length === 0'>
                            EXPORT
                          </button>

            </div>
            <mat-table #table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="selected">
                      <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? checkedRows.toggle(element) : null"
                            [checked]="checkedRows.isSelected(element)"
                            >
                            </mat-checkbox>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="payRun">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Run </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element?.payedDate |  date:'EEE - LLL d - yyyy' }} </mat-cell>
                          </ng-container>

                    <ng-container matColumnDef="fromDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element?.fromDate |  date:'EEE - LLL d - yyyy' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="toDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.toDate | date:'EEE - LLL d - yyyy' }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="employeesAmount">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Employees Payed </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element?.employeesAmount}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="totalPayed">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element?.totalPayed | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalCompanyContributions">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Company Social Contribution </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{element?.totalCompanyContributions | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalEmployeeContributions">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Social Contribution </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        {{element?.totalEmployeeContributions | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalTaxes">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Income Tax </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element?.totalTaxes | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons>
                  </mat-paginator> -->
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div style='width: 25%; height: 400px'>
                      <ngx-datatable
                      style='width: 100%; height: 400px'
                      class="material"
                      [columns]="statsColumns"
                      [columnMode]="ColumnMode.force"
                      [headerHeight]="50"
                      [rowHeight]="50"
                      [limit]="5"
                      [rows]="statsRows"
                      [scrollbarV]="true"
                      [messages]="tableMessages"
                      >
                    </ngx-datatable>
                    </div>
                    <div style="width: 40%; height: 400px" *ngIf="statsRows && doughnutChartData">
                      <fusioncharts
                        [width]="'100%'"
                        [height]="'400'"
                        [type]="'doughnut2d'"
                        [dataFormat]="'json'"
                        [dataSource]="doughnutChartData"
                        (dataplotClick)="dataplotClickHandler($event)"
                      >
                      </fusioncharts>
                    </div>
                    <div style='width: 25%; height: 400px' *ngIf="statsRows && doughnutChartData">
                      <ngx-datatable
                      style='width: 100%; height: 400px'
                      class="material"
                      [columns]="clientStatsColumns"
                      [columnMode]="ColumnMode.force"
                      [headerHeight]="50"
                      [rowHeight]="50"
                      [limit]="5"
                      [rows]="clientStatsRows"
                      [scrollbarV]="true"
                      [messages]="clientTableMessages"
                      >
                    </ngx-datatable>
                    </div>

                  </div>
                  <div>
                    <mat-toolbar>
                      <mat-toolbar-row>
                        <mat-card-subtitle>SELECT PAYROLL</mat-card-subtitle>
                        <span class="fill-remaining-space"></span>
                        </mat-toolbar-row>
                  </mat-toolbar>
                  <ngx-datatable
                    class="material"
                    [columns]="columns"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [limit]="3"
                    [rows]="rows"
                    [selectionType]="SelectionType.multiClick"
                    (select)="onSelect($event)"
                  >
                  </ngx-datatable>
                </div>


