<shared-on-success-alert #successAlert [message]="'The changes were saved correctly'"></shared-on-success-alert>
<shared-on-delete-alert #onDeleteAlert (confirm)="onDelete($event)"></shared-on-delete-alert>
<shared-on-error-alert #onErrorAlert
                       [text]="'We could not save the changes made, please verify that the data was filled in correctly and try again'"></shared-on-error-alert>

<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxLayout="column"
         fxLayoutAlign="end end"
         fxLayoutGap="0px"
         fxLayout.gt-md="row"
         fxLayoutAlign.gt-md="end end"
         fxLayoutGap.gt-md="20px"
         style="width: 100%">
      <button mat-raised-button (click)="openStatusDialog()">
        ATTRITION TRACKER
      </button>
      <button mat-raised-button (click)="openTransferDialog()">
        TRANSFER TRACKER
      </button>
      <button mat-raised-button (click)="openCertifyDialog()">
        CERTIFICATION TRACKER
      </button>
      <button mat-raised-button (click)="openRequestChangeDialog()">
        REQUEST CHANGE
      </button>
      <button
        mat-icon-button
        [matTooltip]="helpMessage"
        matTooltipHideDelay="500000"
        matTooltipClass="tooltip-text"
      >
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<div class="mat-card-top">
  <div fxLayout="column" fxLayout.xs="column">
    <mat-card class="main-info pa-1">
      <div class="profileImage">
        <avatar-detail
          [id]="this.employee._id"
          [authorization]="this.auth"
        ></avatar-detail>
      </div>
      <mat-card-header>
        <mat-card-title>
          {{
          this.employee.firstName +
          " " +
          (this.employee.middleName !== ""
            ? this.employee.middleName + " " + this.employee.lastName
            : this.employee.lastName)
            | uppercase
          }} | <b> {{ this.employee.employeeId }} </b>
        </mat-card-title>
      </mat-card-header>
      <br/>
      <main-info
        [currentEmployee]="this.employee"
        [authorization]="this.auth"
        (onSuccess)="onSuccess()"
        (onError)="onError()"
      >

      </main-info>
      <company-info
        [currentEmployee]="this.employee"
        [authorization]="this.auth"
        (onSuccess)="onSuccess()"
        (onError)="onError()"
      ></company-info>
    </mat-card>
  </div>
  <shift [employee]="this.employee" [authorization]="this.auth"></shift>
  <position-info
    [employee]="this.employee"
    [authorization]="this.auth"
    (onSuccess)="onSuccess()"
    (onError)="onError()"
  ></position-info>
  <payroll-info
    [employee]="this.employee"
    [authorization]="this.auth"
    (onSuccess)="onSuccess()"
    (onError)="onError()"
  ></payroll-info>
  <personal-info
    [employee]="this.employee"
    [authorization]="this.auth"
    (onSuccess)="onSuccess()"
    (onError)="onError()"
  ></personal-info>
  <family-info
    [employee]="this.employee"
    [authorization]="this.auth"
    (onSuccess)="onSuccess()"
    (onError)="onError()"
  ></family-info>
  <comment-info
    [employee]="this.employee"
    [authorization]="this.auth"
    (onSuccess)="onSuccess()"
    (onError)="onError()"
  ></comment-info>
  <attrition-info
    [employee]="this.employee"
    [authorization]="this.auth"
    (onSuccess)="onSuccess()"
    (onError)="onError()"
  ></attrition-info>
  <div style="width: 100%; height: 80px"></div>
</div>
