@import "../../../assets/styles/scss/material.variables";

$mat-toolbar-height-desktop: 150px !default;
$mat-toolbar-height-mobile-portrait: 142px !default;
$mat-toolbar-height-mobile-landscape: 136px !default;

.mat-card-top {
  margin-top: -($mat-toolbar-height-desktop);
}

@media ($mat-xsmall) and (orientation: portrait) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-portrait);
  }
}

@media ($mat-small) and (orientation: landscape) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-landscape);
  }
}

mat-form-field {
  width: 32%;
}
.header {
  width: 100% !important;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

.main-info{
    margin-bottom: 10px;
    flex: 1 1 auto;
}

.form{
    margin: 10px;
    max-height: 190px;
    display: flex;
    flex: 2 2 50em;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: stretch;
}

.main-form{
    margin: 10px;
    max-height: 190px;
    display: flex;
    flex: 0 0 50%;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: stretch;
}
