<mat-toolbar class="header">
  <mat-toolbar-row>
    <span>Payroll Management</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
  </mat-toolbar-row>
  <mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>
<div class="mat-card-top">
  <div class="example-container">
    <div class="example-header">
      <!-- <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter(filterValue)" placeholder="Filter">
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-select placeholder="PAYROLL TYPE" [(ngModel)]="selectedType" name="item">
          <mat-option *ngFor="let item of type" [value]="item.type">
            {{item.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="75%"></div>
      <button mat-icon-button (click)="reloadData()">
        <mat-icon>refresh</mat-icon>
      </button>
      <div *ngIf="auth.create">
          <button mat-raised-button [routerLink]="['/','payroll', 'manage']" [disabled]=checked >CALCULATE PAYROLL</button>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="selected">
          <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
          <mat-cell *matCellDef="let element"> <mat-checkbox #checked (click)="onSelected($event.currentTarget.id)" [id]="element.id"></mat-checkbox> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fromDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id.fromDate |  date:'EEE - LLLL d - yyyy' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="toDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id.toDate | date:'EEE - LLLL d - yyyy' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="employeesAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employees Payed </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.employeesAmount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalPayed">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalPayed | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalCompanyContributions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company Social Contribution </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalCompanyContributions | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalEmployeeContributions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Social Contribution  </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalEmployeeContributions | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalTaxes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Income Tax </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalTaxes | currency:'BZD':'symbol-narrow':'1.2-2'}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <button mat-raised-button>PAY SELECTED PAYROLLS</button></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['/', 'payroll', 'detail' ]" [queryParams]="{id: element._id}" mat-menu-item matTooltip="Go to details">
            <span>Details </span>
            <mat-icon>arrow_forward</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

