<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <span>Payroll Management</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<div class="container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <mat-form-field appearance="outline">
    <mat-select placeholder="Type of Payroll" [formControl]="payrollType">
      <!-- <mat-option *ngFor="let item of items" [value]="item.value">
            {{item.viewValue}}
          </mat-option> -->

      <mat-option value="BI-WEEKLY">
        Bi-Weekly Payroll
      </mat-option>
      <mat-option value="SEMIMONTHLY">
        Semi-Monthly Payroll
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="fill-remaining-space"></div>
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="pickerFrom" placeholder="Get from (mm/dd/yyyy)" [formControl]="fromDate">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="pickerTo" placeholder="To (mm/dd/yyyy)"  [formControl]="toDate">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <button mat-button (click)="fileInput.click()" *ngIf="dataSource">
    <mat-icon>attach_money</mat-icon> Load Bonuses
  </button>
  <span
    style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
    <input type="file" #fileInput (change)="onLoadBonus($event)" />
  </span>
  <button mat-button (click)="fileInput1.click()" *ngIf="dataSource">
    <mat-icon>money_off</mat-icon> Load Deductions
  </button>
  <span
    style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
    <input type="file" #fileInput1 (change)="onLoadDeductions($event)" />
  </span>
  <div class="fill-remaining-space"></div>
  <button mat-button color="green" (click)="loadPayrollType(this.payrollType.value, this.fromDate.value, this.toDate.value)">
    <mat-icon>assignment</mat-icon> Run Payroll
  </button>
</div>

<mat-card *ngIf="dataSource">
  <mat-card-title>Payroll</mat-card-title>
  <mat-card-subtitle>{{payrollType.value.toLowerCase()}}</mat-card-subtitle>
  <mat-card-content>

    <cdk-virtual-scroll-viewport mat-table class="viewport" itemSize="48" minBufferPx="200" maxBufferPx="400">
      <tr class="mat-header-row">
        <th mat-header-cell>
          Employee ID
        </th>
        <th mat-header-cell>
          Name
        </th>
        <th mat-header-cell>
          Client
        </th>
        <th mat-header-cell>
          Campaign
        </th>
        <th mat-header-cell>
          Base Wage
        </th>
        <th mat-header-cell>
          Payable Hours
        </th>
        <th mat-header-cell>
          Hourly Rate
        </th>
        <th mat-header-cell>
          Overtime Hours
        </th>
        <th mat-header-cell>
          Overtime Rate
        </th>
        <th mat-header-cell>
          Gross Wage
        </th>
        <th mat-header-cell>
          Social Security
        </th>
        <th mat-header-cell>
          Deduction
        </th>
        <th mat-header-cell>
          Bonus
        </th>
        <th mat-header-cell>
          Total Payment
        </th>
        <th mat-header-cell>
          Dates
        </th>
        <th mat-header-cell>
          Action
        </th>
      </tr>
      <ng-container *cdkVirtualFor="let n of dataSource">
        <tr>
          <td mat-cell width="90px">
            <span>{{n.employeeId}}</span>
          </td>
          <td mat-cell width="200px">
            <span>{{n.employeeName}}</span>
          </td>
          <td mat-cell width="70px">
            <span>{{n.employeeCompany.client}}</span>
          </td>
          <td mat-cell width="90px">
            <span>{{n.employeeCompany.campaign}}</span>
          </td>
          <td mat-cell width="80px">
            <span>{{n.employeePosition.baseWage | currency:'BZD':'symbol-narrow':'3.2-2'}}</span>
          </td>
          <td mat-cell width="90px">
            <span>{{n.totalHours.valueString}}</span>
          </td>
          <td mat-cell width="50px">
            <span>{{n.hourlyRate}}</span>
          </td>
          <td mat-cell width="90px">
            <span>{{n.totalOvertime.valueString}}</span>
          </td>
          <td mat-cell width="50px">
            <span>{{'otrate'}}</span>
          </td>
          <td mat-cell width="90px">
            <span>{{n.grossWage}}</span>
          </td>
          <td mat-cell width="60px">
            <span>{{'ss'}}</span>
          </td>
          <td mat-cell width="70px">
            <span>{{n.totalDeduction | currency:'BZD':'symbol-narrow':'3.2-2'}}</span>
          </td>
          <td mat-cell width="70px">
            <span>{{n.totalBonus | currency:'BZD':'symbol-narrow':'3.2-2'}}</span>
          </td>
          <td mat-cell width="90px">
            <span>{{n.employeePosition.baseWage - n.totalDeduction + n.totalBonus | currency:'BZD':'symbol-narrow':'3.2-2'}}</span>
          </td>
          <td mat-cell width="90px">
            <span>{{n.date | date: 'EEE MMM d, y - ( MM/dd/yy )'}}</span>
          </td>
          <td mat-cell>
            <span> <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/', 'employee', 'detail' ]" [queryParams]="{id: n.employee}" mat-menu-item>
                  <mat-icon>account_circle</mat-icon>
                  <span>Go to agent</span>
                </a>
                <a [routerLink]="['/', 'employee', 'detail' ]" [queryParams]="{id: n.supervisor}" mat-menu-item>
                  <mat-icon>supervised_user_circle</mat-icon>
                  <span>Go to supervisor</span>
                </a>
                <a [routerLink]="['/', 'employee', 'detail' ]" [queryParams]="{id: n.supervisor}" mat-menu-item>
                  <mat-icon>supervised_user_circle</mat-icon>
                  <span>Go to Payroll Concepts</span>
                </a>

              </mat-menu>
            </span>
          </td>
        </tr>
      </ng-container>
    </cdk-virtual-scroll-viewport>
    <mat-table style="visibility: hidden;">
      <ng-container matColumnDef="employeeId">
        <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
        <mat-cell *matCellDef="let element"></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
