<mat-accordion class="container" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Position 
      </mat-panel-title>
      <mat-panel-description>
        Information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="positionid">
                <mat-header-cell *matHeaderCellDef>Position ID</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.positionid}} </mat-cell>
              </ng-container>

          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
    
          <!-- Position Column -->
    
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate | date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endDate| date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15]">
        </mat-paginator>
      </div>
    <div fxLayout="row">
      <mat-form-field>
        <mat-select placeholder="Position" [(value)]="selected">
            <mat-option *ngFor="let position of positions" [value]="position.id">{{position.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <span> ID: {{selected}}</span>
    <span class="fill-remaining-space"></span>
    <mat-form-field>
      <input matInput placeholder="Start" [matDatepicker]="startPicker" (focus)="startPicker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #startPicker></mat-datepicker>
    <mat-form-field>
      <input matInput placeholder="End" [matDatepicker]="endPicker" (focus)="endPicker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #endPicker></mat-datepicker>
    <button mat-icon-button><mat-icon>add_circle</mat-icon></button>
  </div>
  </mat-expansion-panel>
</mat-accordion>
