.mat-tooltip {
  color: black !important;
  background-color: whitesmoke !important;
  font-size: 15px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: white;
}
