<!--<p>accepted-trackers-table works!</p>-->
<div class="mat-card-top pa-2">
    <mat-form-field appearance="outline">
      <input
        #inputFilter
        matInput          
        placeholder="Filter"
      />
    </mat-form-field>
    <ngx-datatable
      #trackerInboxTable
      class="material expandable expandable-datatable"
      [rows]="filteredData"      
      [columnMode]="'flex'"
      [loadingIndicator]="isLoading"
      [headerHeight]="50"
      [rowHeight]="60"
      [limit]="10"
      [footerHeight]="50"           
      >   
      <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [canAutoResize]="false"
        >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a
            href="javascript:void(0)"            
            title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)"
          >
            <mat-icon [class.hidden]="!expanded">expand_less</mat-icon>
            <mat-icon [class.hidden]="expanded">expand_more</mat-icon>
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="EMPLOYEE ID" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.employeeId }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="NAME" [flexGrow]="2" prop="employee.fullName">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.employee.fullName }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="TRACKER" [flexGrow]="1" >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.tracker | trackerType}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="SUBMITTED DATE" [flexGrow]="1" prop="requestDate">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.requestDate | amDateFormat: 'MM/DD/YYYY'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="DEADLINE" [flexGrow]="1" prop="requestDate">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ (row?.requestDate) | amAdd: 3 : 'days' | amDateFormat: 'MM/DD/YYYY'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="STATUS" [flexGrow]="1" prop="state">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.state | trackerStatus | uppercase }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="SUBMITTED BY" [flexGrow]="2" prop="creationFingerprint.name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.creationFingerprint?.name | uppercase }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" [flexGrow]="2">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-button color="primary" (click)="saveFinishedTrackerStatus(row)"
                    [disabled]="row?.state==2">
            <mat-icon>save</mat-icon> FINISH
          </button>
          <a mat-button color="accent" 
            [routerLink]="['/', 'employee', 'detail']"
            [queryParams]="{ id: row.employee._id }">
            <mat-icon>person</mat-icon> PROFILE
          </a>
        </ng-template>
      </ngx-datatable-column>      
     
      <!-- Tracker details -->
      <ngx-datatable-row-detail rowHeight="auto" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;"
               [ngSwitch]="row.tracker | trackerType">
              <app-tracker-status-change-details *ngSwitchCase="'STATUS'" [trackerInfo]="row.tracker"></app-tracker-status-change-details>
              <app-tracker-transfer-details *ngSwitchCase="'TRANSFER'" [trackerInfo]="row.tracker"></app-tracker-transfer-details>
              <app-tracker-certify-training-details *ngSwitchCase="'CERTIFY'" [trackerInfo]="row.tracker"></app-tracker-certify-training-details>
              <app-tracker-info-change-request-details *ngSwitchDefault [trackerInfo]="row.tracker"></app-tracker-info-change-request-details>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

    </ngx-datatable>
</div>