<div class="pa-1">
    <mat-card>
    <mat-card-header>
        <mat-card-title>Employee Template</mat-card-title>
        <mat-card-subtitle>csv template download</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span>Clicking the download button will download the CSV.</span>
        <span>The download will start, after which you will be able to fill the file and upload it through the Upload interface of SynergyLink Employees module</span>
    </mat-card-content>
    <mat-card-actions>
        <a href="/template"><button mat-raised-button color="primary"> Download Template </button></a>
    </mat-card-actions>
</mat-card>
</div>
