<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>NEW PAYROLL</span>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<div class="mx-1" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <mat-form-field appearance="fill">
    <mat-label>PAYROLL TYPE</mat-label>
    <mat-select placeholder="PAYROLL TYPE" [formControl]="payrollType">
      <mat-option value="BI-WEEKLY">
        WEEKLY PAYROLL
      </mat-option>
      <mat-option value="SEMIMONTHLY">
        SEMI-MONTHLY PAYROLL
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>DATE RANGE</mat-label>
    <label>
      <input matInput placeholder="CLICK ON CALENDAR" [satDatepicker]="datePicker" [formControl]="dates" />
    </label>
    <sat-datepicker #datePicker [rangeMode]="true" [calendarFooterComponent]="rangesFooter"></sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="datePicker"></sat-datepicker-toggle>
    <mat-error *ngIf="dates.invalid && dates.touched"
      >ERROR: You need to pick two dates between 21 days ago and today</mat-error
    >
  </mat-form-field>
</div>
<div class="mx-1" fxLayout="row" fxLayoutAlign="start start">
  <button
    mat-flat-button
    color="warn"
    (click)="loadPayrollType(this.payrollType.value, this.dates.value)"
    [disabled]="dates.invalid && dates.touched"
    *ngIf="rows.length === 0"
  >
    RUN PAYROLL
  </button>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around" fxLayoutGap="10px" class="pa-1">
  <div fxFlex>
    <fusioncharts
      *ngIf="chartDataSource && rows.length !== 0"
      [width]="'100%'"
      [height]="'400'"
      [type]="'stackedcolumn2d'"
      [dataFormat]="'json'"
      [dataSource]="chartDataSource"
      (legendItemClicked)="dataplotClickHandler($event)"
      (initialized)="initialized($event)"
    >
    </fusioncharts>
  </div>
  <div fxFlex>
    <fusioncharts
      *ngIf="rows.length !== 0"
      [width]="'100%'"
      [height]="'400'"
      [type]="'doughnut2d'"
      [dataFormat]="'json'"
      [dataSource]="pieCharDataSource"
    >
    </fusioncharts>
  </div>
</div>
<div style="width: 100%;" *ngIf="rows.length !== 0">
  <div class="pa-1">
    <h2 fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      PAYROLL TABLE

      <span fxLayoutGap="10px">
        <button mat-stroked-button color="warn" (click)="clearTable()">
          CLEAR TABLE
        </button>
        <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
          <span>MENU</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openExportBottomSheet()">
            EXPORT
          </button>
          <button mat-menu-item [swal]="confirmSwal">
            SAVE TO DATABASE
          </button>
        </mat-menu>
      </span>
    </h2>
    <mat-card-subtitle>{{ payrollType.value }} QUICK VIEW</mat-card-subtitle>
  </div>
  <ngx-datatable
    #myTable
    class="material fullscreen"
    style="top: 0; height: 550px;"
    [columnMode]="ColumnMode.force"
    headerHeight="50"
    footerHeight="0"
    [rowHeight]="50"
    [scrollbarV]="true"
    [scrollbarH]="true"
    [rows]="rows"
    *ngIf="rows.length !== 0"
  >
    <ngx-datatable-row-detail rowHeight="240" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
          <table class="greyGridTable">
            <thead>
              <th span="2">REGULAR RATE HRS +</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong
                    >SYS: {{ row.totalSystemRegularPay.hours * 60 | minutesHours }}@{{
                      row.totalSystemRegularPay.rate['$numberDecimal'] | currency: ''
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalSystemRegularPay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >TRA: {{ row.totalTrainingRegularPay.hours * 60 | minutesHours }}@{{
                      row.totalTrainingRegularPay.rate['$numberDecimal'] | currency: ''
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalTrainingRegularPay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >TOS: {{ row.totalTosRegularPay.hours * 60 | minutesHours }}@{{
                      row.totalTosRegularPay.rate['$numberDecimal'] | currency: ''
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalTosRegularPay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >OVERTIME: {{ row.totalOvertimePay.hours * 60 | minutesHours }}@{{
                      row.totalOvertimePay.rate['$numberDecimal'] | currency: ''
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalOvertimePay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
            </tbody>
          </table>

          <table class="greyGridTable">
            <thead>
              <th span="2">X1.5 HOLIDAY HRS +</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong
                    >SYS: {{ row.totalSystemHolidayX1Pay.hours * 60 | minutesHours }}@{{
                      row.totalSystemHolidayX1Pay.rate['$numberDecimal'] | number: '0.2'
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalSystemHolidayX1Pay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >TRA: {{ row.totalTrainingHolidayX1Pay.hours * 60 | minutesHours }}@{{
                      row.totalTrainingHolidayX1Pay.rate['$numberDecimal'] | number: '0.2'
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalTrainingHolidayX1Pay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >TOS: {{ row.totalTosHolidayX1Pay.hours * 60 | minutesHours }}@{{
                      row.totalTosHolidayX1Pay.rate['$numberDecimal'] | number: '0.2'
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalTosHolidayX1Pay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
            </tbody>
          </table>
          <table class="greyGridTable">
            <thead>
              <th span="2">X2 HOLIDAY HRS +</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong
                    >SYS: {{ row.totalSystemHolidayX2Pay.hours * 60 | minutesHours }}@{{
                      row.totalSystemHolidayX2Pay.rate['$numberDecimal'] | number: '0.2'
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalSystemHolidayX2Pay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >TRA: {{ row.totalTrainingHolidayX2Pay.hours * 60 | minutesHours }}@{{
                      row.totalTrainingHolidayX2Pay.rate['$numberDecimal'] | number: '0.2'
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalTrainingHolidayX2Pay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong
                    >TOS: {{ row.totalTosHolidayX2Pay.hours * 60 | minutesHours }}@{{
                      row.totalTosHolidayX2Pay.rate['$numberDecimal'] | number: '0.2'
                    }}</strong
                  >
                </td>
                <td>
                  {{ row.totalTosHolidayX2Pay.totalPayed['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="wrapper">
            <table class="greyGridTable">
              <thead>
                <th>OTHER PAYMENTS +</th>
              </thead>
              <tbody>
                <tr *ngFor="let ops of row.employeeOtherpays">
                  <td>
                    <strong>{{ ops.reason }}</strong>
                  </td>
                  <td>{{ ops.amount | currency: '$' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="wrapper">
            <table class="greyGridTable">
              <thead>
                <th>PAYED LEAVES +</th>
              </thead>
              <tbody>
                <tr *ngFor="let ops of row.employeeCSL">
                  <td>
                    <strong>{{ ops.reason }}</strong>
                  </td>
                  <td>{{ ops.amount | currency: '$' }}</td>
                </tr>
                <tr *ngFor="let ops of row.employeeMaternities">
                  <td>
                    <strong>{{ ops.reason }}</strong>
                  </td>
                  <td>{{ ops.amount | currency: '$' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="wrapper">
            <table class="greyGridTable">
              <thead>
                <th>DEDUCTIONS -</th>
              </thead>
              <tbody>
                <tr *ngFor="let ops of row.employeeDeductions">
                  <td>
                    <strong>{{ ops.reason }}</strong>
                  </td>
                  <td>{{ ops.amount | currency: '$' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <table class="greyGridTable">
            <thead>
              <th>SOCIAL & TAX -</th>
            </thead>
            <tbody>
              <tr>
                <td><strong>EMP-CON.</strong></td>
                <td>
                  {{ row.ssEmployeeContribution['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td><strong>*RCC-CON</strong></td>
                <td>
                  {{ row.ssEmployerContribution['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td><strong>INCOME TAX</strong></td>
                <td>{{ row.incomeTax['$numberDecimal'] | currency: '$' }}</td>
              </tr>
            </tbody>
          </table>
          <table class="greyGridTable">
            <thead>
              <th>TOTALS</th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>
                    GROSS - CSL - MAT
                  </strong>
                </td>
                <td>
                  {{ row.grossBeforeCSLPayment['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    GROSS
                  </strong>
                </td>
                <td>
                  {{ row.grossPayment['$numberDecimal'] | currency: '$' }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>
                    NET
                  </strong>
                </td>
                <td>{{ row.netPayment['$numberDecimal'] | currency: '$' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Employee ID" [width]="50"></ngx-datatable-column>
    <ngx-datatable-column name="Name" [width]="100" prop="employeeName"></ngx-datatable-column>
    <ngx-datatable-column name="Client" [width]="30" prop="employeeCompany.client"></ngx-datatable-column>
    <ngx-datatable-column name="Campaign" [width]="30" prop="employeeCompany.campaign"></ngx-datatable-column>
    <ngx-datatable-column name="Hire Date" [width]="30" prop="employeeCompany.hireDate">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date: 'MM/dd/yyyy' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Position" [width]="90" prop="positionName"></ngx-datatable-column>
    <ngx-datatable-column name="Since" [width]="90" prop="employeePosition.startDate">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date: 'MM/dd/yyyy' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Monthly Wage" [width]="50" prop="positionBaseWage">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | currency: '$' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Weekly Wage" [width]="50" prop="positionBaseWage">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ (value * 12) / 52 | currency: '$' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Gross Wage" [width]="50" prop="grossPayment.$numberDecimal">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | currency: '$' }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Net Wage" [width]="50" prop="netPayment.$numberDecimal">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | currency: '$' }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <swal
    #confirmSwal
    title="Ready to save?"
    text="please click on the confirm button"
    icon="question"
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="saveToDatabase(this.rows, this.dates.value)"
  ></swal>
  <shared-on-success-alert #successSwal message="The payroll was saved succesfully!"></shared-on-success-alert>
  <shared-on-error-alert
    #errorSwal
    message="Remember the payroll can only be in 7 day periods and can not have duplicates with regards to other calculated payrolls"
  ></shared-on-error-alert>
</div>
