
tr {
  padding-left: 10px;
  padding-right: 10px;
  height: 48px;
}
table.greyGridTable {
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
}
th {
  background: #f2f2f2;
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 12px;
}

div.wrapper {
  height: 240px; // change this to desired height
  overflow: scroll;
}
div.wrapper::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}
div.wrapper::-webkit-scrollbar-thumb {
  background: #000;
}
