<mat-accordion class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Shift
      </mat-panel-title>
      <mat-panel-description>
        Information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="example-container">
      <div class="example-header">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="shiftName">
              <mat-header-cell *matHeaderCellDef>Shift Name</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.shift.name}} </mat-cell>
            </ng-container>

          <ng-container matColumnDef="startDate">
              <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.startDate | date: 'MM/dd/yyyy'}}  </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endDate| date: 'MM/dd/yyyy'}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef>Created On</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdDate | date:'MM/dd/yyyy hh:mm:ss a':'-0600'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15]">
      </mat-paginator>
    </div>
    <div class="example-container">
      <div class="example-header" [formGroup]="wpForm">
          <mat-form-field>
             <mat-select placeholder="Work Patterns" name="item" formControlName="shift">
               <mat-option *ngFor="let shift of shifts" [value]="shift._id">
                 {{shift.name}}
               </mat-option>
             </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="shiftPicker" placeholder="Active Date" formControlName="createdDate">
            <mat-datepicker-toggle matSuffix [for]="shiftPicker"></mat-datepicker-toggle>
            <mat-datepicker #shiftPicker></mat-datepicker>
          </mat-form-field>
          <button mat-button color="primary" (click)="onSave()"><mat-icon>save</mat-icon> Save </button>
      </div>
      <mat-table #table [dataSource]="currentShift" matSort>

          <ng-container matColumnDef="Monday">
              <mat-header-cell *matHeaderCellDef>Monday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Tuesday">
              <mat-header-cell *matHeaderCellDef>Tuesday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{(element.shift[1].onShift) ? element.shift[1].startDate + ' - ' + element.shift[0].endDate : 'DAY OFF'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Wednesday">
              <mat-header-cell *matHeaderCellDef>Wednesday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{(element.shift[2].onShift) ? element.shift[2].startDate + ' - ' + element.shift[0].endDate : 'DAY OFF'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Thursday">
              <mat-header-cell *matHeaderCellDef>Thursday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{(element.shift[3].onShift) ? element.shift[3].startDate + ' - ' + element.shift[0].endDate : 'DAY OFF'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Friday">
              <mat-header-cell *matHeaderCellDef>Friday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{(element.shift[4].onShift) ? element.shift[4].startDate + ' - ' + element.shift[0].endDate : 'DAY OFF'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Saturday">
              <mat-header-cell *matHeaderCellDef>Saturday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{(element.shift[5].onShift) ? element.shift[5].startDate + ' - ' + element.shift[0].endDate : 'DAY OFF'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Sunday">
              <mat-header-cell *matHeaderCellDef>Sunday</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{(element.shift[6].onShift) ? element.shift[6].startDate + ' - ' + element.shift[0].endDate : 'DAY OFF'}} </mat-cell>
            </ng-container>


        <mat-header-row *matHeaderRowDef="['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

</mat-expansion-panel>
</mat-accordion>
