table.greyGridTable {
  border: 2px solid #ffffff;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable th {
  background: #f2f2f2;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  padding: 3px 4px;
}
table.greyGridTable td {
  border-left: 2px solid #5d5d5d;
  font-size: 18px;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 16px;
}
table.greyGridTable tr:nth-child(4n + 4) {
  border-top: 1px solid #5d5d5d;
  background: #f2f2f2;
}
table.greyGridTable tr:nth-child(4n + 5) {
  background: #f2f2f2;
  border-bottom: 1px solid #5d5d5d;
}

table.greyGridTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #5d5d5d;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #5d5d5d;
  border-top: 4px solid #5d5d5d;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}
div.wrapper {
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 500px; // change this to desired height
}

td.timeframe,
th.time-header {
  background: #f2f2f2;
  position: sticky;
  left: 0;
  visibility: visible;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-right: 2px solid #5d5d5d;
  border-left: 2px solid #5d5d5d;
}
th.time-header {
  z-index: 100;
}
div.button-div {
  margin-top: -35px !important;
}
