<div [ngClass]="{'image-card': loaded, 'hidden': !loaded}">
  <div fxLayout="column" fxFlexAlign="center" fxLayoutGap="10px">
    <div>
      <img
        [ngClass]="{'user-image radius-circle': loaded, 'hidden': !loaded}"
        [src]="imageData"
        (error)="onError($event)"
        (load)="onLoad($event)"
        alt="/assets/images/default-avatar.png"
      />
    </div>
    <div *ngIf="!embedded" fxLayout="row" fxFlexAlign="center">
      <button
        mat-button
        [disabled]="!this.authorization.upload"
        (click)="fileInput.click(); this.onclick()"
        color="primary"
      >
        UPLOAD
      </button>
      <span
        class="hidden">
        <input
          #fileInput
          type="file"
          ng2FileSelect
          [uploader]="uploader"
          (change)="uploader.uploadAll()"
          [disabled]="!this.authorization.upload"
          accept='image/jpeg|image/pjpeg'/>
      </span>
    </div>
  </div>
</div>
