<div class="pa-1">
  <mat-card-header>
    <mat-card-subtitle>
      Select filter values and Run Query, you will export all records if left
      blank.
    </mat-card-subtitle>
  </mat-card-header>
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="10px"
    [formGroup]="queryForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>From (MM/DD/YYYY)</mat-label>
      <input
        matInput
        [matDatepicker]="pickerFrom"
        placeholder="title"
        formControlName="kpiFrom"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerFrom"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>To (MM/DD/YYYY)</mat-label>
      <input
        matInput
        [matDatepicker]="pickerTo"
        placeholder="title"
        formControlName="kpiTo"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <div class="fill-remaining-space"></div>
    <mat-form-field appearance="outline">
      <mat-label>KPI Name</mat-label>
      <mat-select placeholder="KPI Name" formControlName="kpiName">
        <mat-optgroup *ngFor="let group of kpiGroups" [label]="group.name">
          <mat-option *ngFor="let kpi of group.kpi" [value]="kpi.name">
            {{ kpi.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="10px"
    [formGroup]="queryForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>Client</mat-label>
      <mat-select
        placeholder="Client Filter"
        formControlName="kpiClient"
        (selectionChange)="setCampaigns($event.value)"
      >
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let item of clients" [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="this.campaigns.length > 0">
      <mat-label>Campaign</mat-label>
      <mat-select placeholder="Campaign Filter" formControlName="kpiCampaign">
        <mat-option>-- None --</mat-option>
        <mat-option *ngFor="let item of campaigns" [value]="item.name">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        placeholder="Team ID (Supervisor ID)"
        formControlName="kpiTeamId"
      />
      <mat-label>Team ID (Supervisor ID)</mat-label>
    </mat-form-field>
    <div class="fill-remaining-space"></div>
    <button mat-flat-button color="primary" (click)="runQuery()">
      <mat-icon>search</mat-icon> Run Query
    </button>
  </div>
  <mat-card *ngIf="notfound">
    <mat-card-header>
      <mat-card-title>NO RECORDS FOUND</mat-card-title>
      <mat-card-subtitle
        >try to be a little more specific or check your filter
        values</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clear()">Try Again</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="dataSource && !notfound" class="pa-1">
    <button
      mat-icon-button
      (click)="export()"
      matTooltip="Export to Excel File"
    >
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-icon-button (click)="clear()" matTooltip="Clear search">
      <mat-icon>clear</mat-icon>
    </button>

    <cdk-virtual-scroll-viewport
      class="container"
      itemSize="48"
      minBufferPx="200"
      maxBufferPx="400"
    >
      <tr class="mat-header-row">
        <th mat-header-cell>
          Employee ID
        </th>
        <th mat-header-cell>
          Name
        </th>
        <th mat-header-cell>
          Client
        </th>
        <th mat-header-cell>
          Campaign
        </th>
        <th mat-header-cell>
          KPI
        </th>
        <th mat-header-cell>
          Score
        </th>
        <th mat-header-cell>
          Date
        </th>
        <th mat-header-cell>
          Action
        </th>
      </tr>
      <ng-container *cdkVirtualFor="let n of dataSource">
        <tr>
          <td mat-cell width="10%">
            <span>{{ n.employeeId }}</span>
          </td>
          <td mat-cell width="18%">
            <span>{{ n.employeeName }}</span>
          </td>
          <td mat-cell width="13%">
            <span>{{ n.client }}</span>
          </td>
          <td mat-cell width="13%">
            <span>{{ n.campaign }}</span>
          </td>
          <td mat-cell width="13%">
            <span>{{ n.kpiName }}</span>
          </td>
          <td mat-cell width="10%">
            <span>{{ n.score ? n.score : n.scoreInTime.value }}</span>
          </td>
          <td mat-cell width="25%">
            <span>{{ n.date | date: "EEE MMM d, y - ( MM/dd/yy )" }}</span>
          </td>
          <td mat-cell>
            <span>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a
                  [routerLink]="['/', 'employee', 'detail']"
                  [queryParams]="{ id: n.employee }"
                  mat-menu-item
                >
                  <mat-icon>account_circle</mat-icon>
                  <span>Go to agent</span>
                </a>
                <a
                  [routerLink]="['/', 'employee', 'detail']"
                  [queryParams]="{ id: n.supervisor }"
                  mat-menu-item
                >
                  <mat-icon>supervised_user_circle</mat-icon>
                  <span>Go to supervisor</span>
                </a>
              </mat-menu>
            </span>
          </td>
        </tr>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </mat-card>
</div>
