<div style="margin-top: 25px;">
    <mat-card-header>
      <mat-card-title>
        RECENT UPLOAD
      </mat-card-title>
    </mat-card-header>
  </div>
  <mat-table #table2 [dataSource]="uploadsDatasource">
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> USER </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.user.name }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="apiPath">
      <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.apiPath }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef> FILE NAME </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.fileName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fileId">
      <mat-header-cell *matHeaderCellDef> FILE ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element?.fileId }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> DATE </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.date | date: "M/d/yy, h:mm a" }}
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="uploadsTableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: uploadsTableColumns"></mat-row>
  </mat-table>

  <mat-paginator
    #paginator2
    [length]="uploadsPaginationOptions.length"
    [pageSize]="uploadsPaginationOptions.limit"
    [pageSizeOptions]="uploadsPaginationOptions.pageSizeOptions"
    (page)="onUploadsPageEvent($event)"
  ></mat-paginator>
  