<div class="wrapper">
  <mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
      <span>TRACKER INBOX</span>
      <span class="fill-remaining-space"></span>
    </mat-toolbar-row>  
  </mat-toolbar>
  <!--tabhost-->
  <mat-tab-group backgroundColor="primary">
    <mat-tab label="Tracker Inbox">
      <app-trackers-inbox-table [data]="pendingTrackersInbox" [isLoading]="isLoading" (onSavingAcceptedTrackerStatus)="saveNewTrackerStatus($event)" [userId]="currentUserId"></app-trackers-inbox-table>
    </mat-tab>
    <mat-tab label="Accepted Trackers">
      <app-accepted-trackers-table [data]="inProgressTrackersInbox" [isLoading]="isLoading" (onSavingFinishedTrackerStatus)="saveNewTrackerStatus($event)"></app-accepted-trackers-table>
    </mat-tab>
  </mat-tab-group>   
</div>