<div class="pa-1">
<mat-card>
    <mat-toolbar>
        <span>User Creation</span>
    </mat-toolbar>
  <div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <mat-list >
          <mat-list-item class="form-group">
              <mat-form-field>
                  <input matInput
                      placeholder="First Name"
                      type="text"
                      id="firstName"
                      class="form-control"
                      formControlName="firstName">
              </mat-form-field>
          </mat-list-item>
  
          <mat-list-item class="form-group">
                  <mat-form-field>
                      <input matInput
                          placeholder="Last Name"
                          type="text"
                          id="lastName"
                          class="form-control"
                          formControlName="lastName">
                  </mat-form-field>
              </mat-list-item>
  
          <mat-list-item class="form-group">
              <mat-form-field>
              <mat-select placeholder="Role" name="item" id="role" class="form-control" formControlName="role">
                  <mat-option *ngFor="let item of items" [value]="item.value">
                      {{item.viewValue}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </mat-list-item>
  
          <mat-list-item class="form-group">
                  <mat-form-field>
                      <input matInput
                          placeholder="Username"
                          type="text"
                          id="username"
                          class="form-control"
                          formControlName="username">
                  </mat-form-field>
              </mat-list-item>
  
              <mat-list-item class="form-group">
                      <mat-form-field>
                          <input matInput
                              placeholder="Password"
                              type="password"
                              id="password"
                              class="form-control"
                              formControlName="password">
                      </mat-form-field>
                  </mat-list-item>
  
          <mat-list-item>
           <button mat-button type="submit"
           [disabled]="!myForm.valid">Submit</button>
          </mat-list-item>
          </mat-list>
      </form>    
  </div>
  </mat-card>
</div>
