<div class="wrapper">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>warning</mat-icon
      ><span class="align-text-icon">STATUS CHANGE TRACKER</span>
    </mat-card-title>
    <mat-card-subtitle
      >Status change tracker is a ticket that will be sent to the HR
      department</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content [formGroup]="statusForm">
    <mat-vertical-stepper linear="true">
      <mat-step label="Tracker">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>New status</mat-label>
          <mat-select
            placeholder="STATUS"
            [formControl]="statusControl"
            name="item"
          >
            <mat-option *ngFor="let item of status" [value]="item.value">
              {{ item.viewValue | uppercase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Effective Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="effectiveDate" placeholder="MM/DD/YYYY" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <ng-container
          *ngIf="statusControl.value === data.status; else elseTemplate"
        >
          <mat-error>
            Please select a different status, this employee is already
            {{ data.status }}
          </mat-error>
        </ng-container>
        <ng-template #elseTemplate>
          <p *ngIf="statusControl.value">
            Setting this person as:&nbsp;&nbsp;&nbsp;<button
              mat-flat-button
              color="accent"
              class="readonly-wrapper"
            >
              {{ statusControl.value | uppercase }}
            </button>
          </p>
          <p
            *ngIf="
              statusControl.value === 'resignation' ||
              statusControl.value === 'dissmisal' ||
              statusControl.value === 'termination'
            "
          >
            Will <u>add</u> him/her to the <b>FINAL PAYMENT LIST</b> and a
            <b>notification</b> will be sent to finance.
          </p>
          <mat-checkbox formControlName="absenteeism"> DUE TO ABSENTEEISM</mat-checkbox>
          
          <ng-container *ngIf="isDueToabsenteeism"
                        [formGroup]="statusAbsenteeismForm">
            <div class="first-chance-fieldset" formGroupName="firstChance">
              <mat-form-field
                appearance="fill"
                style="width: 170px !important;"
              >
                <mat-label>1st NC / NS Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="ncns1"
                  placeholder="MM/DD/YYYY"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="ncns1"
                ></mat-datepicker-toggle>
                <mat-datepicker #ncns1></mat-datepicker>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                style="width: 100px !important;"
              >
                <mat-label>Time</mat-label>
                <input matInput 
                       placeholder="00:00" 
                       type="time"
                       formControlName="time"
                       />
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                style="width: 280px !important;"
              >
                <mat-label>Reason</mat-label>
                <input matInput placeholder="Reason" value="" formControlName="reason"/>
              </mat-form-field>
            </div>

            <div class="second-chance-fieldset" formGroupName="secondChance">
              <mat-form-field
                appearance="fill"
                style="width: 170px !important;"
              >
                <mat-label>2nd NC / NS Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="ncns2"
                  placeholder="MM/DD/YYYY"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="ncns2"
                ></mat-datepicker-toggle>
                <mat-datepicker #ncns2></mat-datepicker>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                style="width: 100px !important;"
              >
                <mat-label>Time</mat-label>
                <input matInput 
                      placeholder="00:00"  
                      type="time"
                      formControlName="time"/>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                style="width: 280px !important;"
              >
                <mat-label>Reason</mat-label>
                <input matInput placeholder="Reason" value="" formControlName="reason" />
              </mat-form-field>
            </div>

            <div class="third-chance-fieldset" formGroupName="thirdChance">
              <mat-form-field
                appearance="fill"
                style="width: 170px !important;"
              >
                <mat-label>3rd NC / NS Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="ncns3"
                  placeholder="MM/DD/YYYY"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="ncns3"
                ></mat-datepicker-toggle>
                <mat-datepicker #ncns3></mat-datepicker>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                style="width: 100px !important;"
              >
                <mat-label>Time</mat-label>
                <input matInput 
                      placeholder="00:00"  
                      type="time" 
                      formControlName="time" />
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                style="width: 280px !important;"
              >
                <mat-label>Reason</mat-label>
                <input matInput 
                      placeholder="Reason" 
                      formControlName="reason" />
              </mat-form-field>
            </div>
          </ng-container> <!---->
          
          <mat-form-field
            appearance="fill"
            style="width: 100%;"
            *ngIf="
              statusControl.value === 'resignation' ||
              statusControl.value === 'dissmisal' ||
              statusControl.value === 'termination'
            "
          >
            <mat-label>TRACKER REASON</mat-label>
            <textarea
              matInput
              formControlName="reason"
              placeholder="The status change is due to..."
            ></textarea>
          </mat-form-field>
          <p
            *ngIf="
              statusControl.value === 'on-hold' ||
              statusControl.value === 'transfer'
            "
          >
            Will exclude him/her from being payed and will send a
            <b>notification</b> to the HR department officer.
          </p>
          <p *ngIf="statusControl.value === 'active'">
            Will include him/her in the payroll and will send a
            <b>notification</b> to the HR department officer.
          </p>
        </ng-template>
      </mat-step>
      <mat-step label="Supervisor Signature">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="width: 100%;"
        >
          <mat-error *ngIf="statusForm.invalid"
            >This signature is required (*)</mat-error
          >
          <signature-field
            #supervisorSignature
            formControlName="supervisorSignature"
          ></signature-field>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
            <button
              mat-button
              color="warn"
              (click)="supervisorSignature.clear()"
            >
              CLEAR
            </button>
            <button
              mat-button
              color="primary"
              (click)="supervisorSignature.off()"
            >
              DONE
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Manager Signature">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="width: 100%;"
        >
          <mat-error *ngIf="statusForm.invalid"
            >This signature is required (*)</mat-error
          >
          <signature-field
            #managerSignature
            formControlName="managerSignature"
          ></signature-field>

          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
            <button mat-button color="warn" (click)="managerSignature.clear()">
              CLEAR
            </button>
            <button mat-button color="primary" (click)="managerSignature.off()">
              DONE
            </button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <p>
      <b>Note:</b> The status change process can take up to <b>3 DAYS</b> and is
      the <b>official process</b> to request an attrition or fix incorrect
      status information.
    </p>
  </mat-card-content>

  <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <button mat-button color="warn" cdkFocusInitial (click)="onCancelClick()">
      CANCEL
    </button>
    <button
      mat-button
      color="primary"
      (click)="onProceedClick(statusForm.value, statusAbsenteeismForm.value, statusControl.value)"
      [disabled]="
        statusControl.invalid ||
        statusForm.invalid ||
        statusControl.value === data.status || 
        (isDueToabsenteeism && statusAbsenteeismForm.invalid)
      "
    >
      SEND REQUEST
    </button>

    <!--<button mat-button cdkFocusInitial (click)="logDebug()">
      DEBUG
    </button>-->
  </mat-card-actions>
</div>
