.fill-remaining-space {
  flex: 1 1 auto;
}

mat-form-field {
  width: 300px;
}

.mat-column-action {
  flex: 0 0 15px;
}

.container {
  width: 95%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  padding-left: 10px;
  padding-right: 10px;
  height: 48px;
}

th {
  text-align: left;
}
