<div style="width: 100%; max-height: 800px; overflow-y: scroll !important; overflow-x: hidden !important;">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutAlign="center center"> <mat-icon>warning</mat-icon><span class="align-text-icon">CERTIFY TRAINING TRACKER</span>  </mat-card-title>
    <mat-card-subtitle>Certify training tracker is a ticket that will be sent to the HR department</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper linear="true">
      <mat-step label="Tracker">

      </mat-step>
      <mat-step label="Supervisor Signature">

      </mat-step>
      <mat-step label="Manager Signature">

      </mat-step>
    </mat-vertical-stepper>


    <p><b>Note:</b> The certification process can take up to <b>3 DAYS</b> and is the <b>official process</b> to request the certification from training to production or fix incorrect position information. </p>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button mat-button color='warn' cdkFocusInitial >CANCEL</button>
    <button mat-button color='primary' >SEND REQUEST</button>
  </mat-card-actions>
</div>

