<mat-toolbar class="header">
    <mat-toolbar-row>
        <span>Management table</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
    <mat-toolbar-row>
      </mat-toolbar-row>
  </mat-toolbar>
<div class="mat-card-top">
  <div class="example-container">
  <div class="example-header">
      <mat-form-field  appearance="outline">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div fxFlex="auto"></div>
      <button mat-icon-button (click)="reload()"><mat-icon>refresh</mat-icon></button>
      <div *ngIf="auth.edit">
      <a [routerLink]="['/', 'employee', 'new' ]">
      <button mat-icon-button><mat-icon>add_circle</mat-icon></button>
      </a>
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <!--
        <ng-container matColumnDef="selected">
          <mat-header-cell *matHeaderCellDef> <mat-checkbox> Select all</mat-checkbox> </mat-header-cell>
          <mat-cell *matCellDef="let element"> <mat-checkbox (click)="onSelected($event.currentTarget.id)" [id]="element.id"></mat-checkbox> </mat-cell>
        </ng-container>

         Position Column -->

    <ng-container matColumnDef="employeeID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employeeId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName +' '+ element.middleName + ' ' + element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Social Security </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.socialSecurity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status | titlecase}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Details </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a [routerLink]="['/', 'employee', 'detail' ]" [queryParams]="{id: element._id}"><button mat-button><mat-icon>person_pin</mat-icon> Go</button></a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 30]"
  (page)="onPageChange($event)">
  </mat-paginator>
</div>
</div>
