<mat-toolbar class="header"  color="primary">
    <mat-toolbar-row>
        <span>Content Management</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
    </mat-toolbar-row>
    <mat-toolbar-row>
      </mat-toolbar-row>
  </mat-toolbar>
    <div class="mat-card-top">
      <mat-card class="container pa-1">
        <h2> Menus </h2>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-select color="primary" placeholder="Menu Items" [(ngModel)]="selectedMenu" name="item">
                <mat-option *ngFor="let menu of menus" [value]="menu">
                  {{menu.name}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <div class="menuCard pa-1">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field appearance="outline" style="width:100%;">
                    <mat-label>&nbsp;&nbsp;URL State</mat-label>
                      <input matInput placeholder="" [(ngModel)]="selectedMenu.state">
                      <span style="position: absolute; margin-top: -17px; margin-left: -5px;" matPrefix>/&nbsp;</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Menu Item Name</mat-label>
                        <input matInput placeholder="Name" [(ngModel)]="selectedMenu.name">
                      </mat-form-field>

                      <mat-form-field  appearance="outline" style="width:100%;">
                          <mat-label>Material Icon Name</mat-label>
                          <input matInput placeholder="Icon" [(ngModel)]="selectedMenu.icon">
                        </mat-form-field>
            </div>
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Menu Type</mat-label>
                      <mat-select placeholder="Type" [(ngModel)]="selectedMenu.type">
                          <mat-option value="link">
                            Link ( without submenu )
                          </mat-option>
                          <mat-option value="sub">
                            Menu ( with submenu )
                          </mat-option>
                        </mat-select>
                  </mat-form-field>

            <div *ngIf="selectedMenu.type === 'sub'; else addChildren" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
                <mat-card-subtitle fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="0px">
                    MENU ITEM CHILDREN
                </mat-card-subtitle>
              <mat-divider
                [inset]="true">
              </mat-divider>
              <mat-accordion *ngFor="let child of selectedMenu.children">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    {{child.name}}
                  </mat-expansion-panel-header>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <mat-form-field appearance="outline">
                            <mat-label> Child Name </mat-label>
                            <input matInput placeholder="Name" [(ngModel)]="child.name">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                              <mat-label> Child URL State </mat-label>
                            <input matInput placeholder="URL State" [(ngModel)]="child.state">
                          </mat-form-field>
                    </div>
                </mat-expansion-panel>
              </mat-accordion>
              <p></p>
              <mat-divider
              [inset]="true">
            </mat-divider>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                  <mat-form-field appearance="outline">
                      <mat-label> Child Name </mat-label>
                      <input matInput #childName placeholder="Name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label> Child URL State </mat-label>
                      <input matInput #childState placeholder="URL State">
                    </mat-form-field>
                    <button mat-flat-button class="submenu-button" color='primary' (click)="onAddSubmenu(childName.value, childState.value)">ADD SUBMENU</button>
              </div>
            </div>

          <ng-template #addChildren>

          </ng-template>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-form-field appearance="outline">
                <mat-label>Page ID</mat-label>
                <input matInput placeholder="Enter Page ID" type="number" [(ngModel)]="this.selectedMenu.page">
              </mat-form-field>
              <div class="fill-remaining-space"></div>
              <mat-form-field appearance="outline">
                <mat-label>Menu Item Position</mat-label>
                <input matInput placeholder="Enter Position value" type="number" [(ngModel)]="this.selectedMenu.position">
              </mat-form-field>
          </div>


        </div>
        <ng-container *ngIf="selectedMenu._id === 'new'; else elseTemplate">
            <button color="primary" mat-stroked-button (click)="onAdd()">ADD NEW MENU</button>
        </ng-container>
        <ng-template #elseTemplate>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80%">

              <button color="primary" mat-stroked-button (click)="onSave()">SAVE</button>

              <button mat-icon-button color='warn' (click)="onDelete()">DELETE</button>

            </div>
        </ng-template>

      </mat-card>

    </div>
