.field-wrapper{
    padding: 10px;
    width: 100%;
}

.full-width{
    width: 100%;
}

label{
    padding-bottom: 10px;
}

mat-radio-group{
    mat-radio-button{
        margin-right: 10px;
        margin-bottom: 10px;
    }
}