<mat-accordion class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Family
      </mat-panel-title>
      <mat-panel-description>
        Information
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class=pa-1 fxLayout="column">
        <mat-card class="pa-1" fxLayout="column">
          <div class="filter">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.referenceName}} </mat-cell>
              </ng-container>

            <ng-container matColumnDef="relationship">
                <mat-header-cell *matHeaderCellDef>Relationship</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.relationship}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="celNumber">
              <mat-header-cell *matHeaderCellDef>Cellphone</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.celNumber}} </mat-cell>
            </ng-container>

          <ng-container matColumnDef="telNumber">
            <mat-header-cell *matHeaderCellDef>Telephone</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.telNumber}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.emailAddress}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
              <mat-cell *matCellDef="let element"><button mat-icon-button (click)="editReference(element._id)"><mat-icon>border_color</mat-icon></button> </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15]">
        </mat-paginator>
        </mat-card>
      <mat-card class="pa-1" fxLayout="column">
        <div fxLayout="row" [formGroup]="familyForm">
          <mat-form-field class="form">
          <input matInput placeholder="name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="relationship" formControlName="relationship">
        </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="Cellular Phone Number" formControlName="celNumber">
        </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="Telephone Number" formControlName="telNumber" >
        </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="Email Address" formControlName="emailAddress">
        </mat-form-field>
        <mat-form-field class="form">
          <input matInput placeholder="Home Address" formControlName="address">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="onSubmit()"><mat-icon>{{this.isEdit?'check_circle':'add_circle'}}</mat-icon></button>
      </div>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
