<mat-accordion class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FAMILY & EMERGENCY INFORMATION
      </mat-panel-title>
      <mat-panel-description>
        EXPAND
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="pa-1" fxLayout="column">
      <div class="pa-1" fxLayout="column">
        <div class="filter">
          <mat-form-field appearance="fill">
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Filter"
            />
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="emergencyContact">
            <mat-header-cell *matHeaderCellDef>EMERGENCY</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.emergencyContact" color="warn">add_circle_outline</mat-icon>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.referenceName }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="relationship">
            <mat-header-cell *matHeaderCellDef>RELATIONSHIP</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.relationship }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="birthDate">
            <mat-header-cell *matHeaderCellDef>BIRTH DATE</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.birthDate | date: 'MM/dd/yyyy' }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="celNumber">
            <mat-header-cell *matHeaderCellDef>CELLPHONE</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.celNumber }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="telNumber">
            <mat-header-cell *matHeaderCellDef>TELEPHONE</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.telNumber }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emailAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              EMAIL
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.emailAddress }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              ADDRESS
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.address }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              COMMENT
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <p
                [ngClass]="
                  expandedComment ? 'noExpandedComment' : 'expandedComment'
                "
              >
                {{ element.comment }}
              </p>
              <button mat-icon-button (click)="onExpandComment()">
                <mat-icon>expand_more</mat-icon>
              </button></mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              ACTION
            </mat-header-cell>
            <mat-cell *matCellDef="let element"
            >
              <button
                mat-icon-button
                color="warn"
                (click)="fireDelete(element)"
              >
                <shared-on-delete-alert #onDeleteAlert (confirm)="onDelete($event)"></shared-on-delete-alert>
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator
          #paginator
          [pageSize]="3"
          [pageSizeOptions]="[3, 6, 9]"
        >
        </mat-paginator>
      </div>
      <div class="pa-1" fxLayout="column" *ngIf="authorization.edit">
        <div fxLayout.xs="column" [formGroup]="familyForm">
          <table style="width: 100%;">
            <tr>
              <td colspan="2">
                <mat-checkbox formControlName="emergencyContact" color="warn"
                              matTooltip="TICK IF THE NEW CONTACT WILL BE CONSIDERED AN EMERGENCY CONTACT">
                  <span><b>EMERGENCY CONTACT</b></span>
                </mat-checkbox>
              </td>
            </tr>
            <tr fxLayout.xs="column">
              <td colspan="2">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>CONTACT NAME</mat-label>
                  <input
                    matInput
                    placeholder="FULL NAME"
                    formControlName="referenceName"
                  />
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>RELATIONSHIP</mat-label>
                  <mat-select
                    placeholder="relationship"
                    formControlName="relationship"
                    name="item"
                  >
                    <mat-option
                      *ngFor="let item of familyRelationships"
                      [value]="item.value"
                    >
                      {{ item.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>BIRTH DATE</mat-label>
                  <input matInput
                         formControlName="birthDate"
                         [matDatepicker]="datePickerRef"
                         placeholder="MM/DD/YYYY">
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datePickerRef"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datePickerRef></mat-datepicker>
                </mat-form-field>
            </tr>
            <tr fxLayout.xs="column">
              <td colspan="2">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>CELLPHONE</mat-label>
                  <input
                    matInput
                    placeholder="600-0000"
                    formControlName="celNumber"
                    type="tel"
                    pattern="[0-9]{3}-[0-9]{4}"
                  />
                  <mat-error>FIELD STRUCTURE: 600-0000</mat-error>
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>TELEPHONE</mat-label>
                  <input
                    matInput
                    placeholder="220-0000"
                    formControlName="telNumber"
                    type="tel"
                    pattern="[0-9]{3}-[0-9]{4}"
                  />
                  <mat-error>FIELD STRUCTURE: 600-0000</mat-error>
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>EMAIL</mat-label>
                  <input
                    matInput
                    placeholder="email@provider.com"
                    formControlName="emailAddress"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr fxLayout.xs="column">
              <td colspan="6">
                <mat-form-field class="form" appearance="outline">
                  <mat-label>ADDRESS</mat-label>
                  <input
                    matInput
                    placeholder="123 Example St. Belize City"
                    formControlName="address"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div [formGroup]="familyForm" style="width: 100%;">
          <mat-form-field appearance="fill" class="form">
            <mat-label>Family member comments</mat-label>
            <textarea
              matInput
              placeholder="Comments on family member"
              formControlName="comment"
            ></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
          <button
            mat-stroked-button
            color="primary"
            (click)="onSubmit()"
          >
            <mat-icon>{{
              this.isEdit ? "check_circle" : "add_circle"
            }}</mat-icon>
            &nbsp; {{ this.isEdit ? "EDIT CONTACT " : "ADD CONTACT " }} &nbsp;
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
